{# vim: set ts=2 et sts=2 sw=2: #}
<!DOCTYPE HTML">
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/bixly_media/css/blog/style.css" />
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% block header %}
    <header class="base">
        <h1>Blogs R us</h1>
    </header>
    {% endblock %}

    {% block navigation %}
    <nav class="base">
        <ul>
            <li><p>Welcome, {{ user.username }}</p></li>
            <li><a href="{% url blog.list_all %}">Blogs</a></li>
            <li><a href="{% url blog.new %}">Create</a></li>
            <li><a href="{% url django.contrib.auth.views.logout_then_login %}">Logout</a></li>
        </ul>
    </nav>
    {% endblock %}
    <form action="{% url blog.process_filter %}" method="GET">
      Year
      <select name="year">
        {# TODO: Figure out why selected isn't working in if statement #}
        <option value="" selected="selected"></option>
        {% for year in blog_info.years %}
        <option value="{{ year }}" {% if year == yr_sel %}selected{% endif %}>{{ year }}</option>
        {% endfor %}
      </select>
      Month
      <select name="month">
        <option value="" selected="selected"></option>
        {% for month in blog_info.months %}
        <option value="{{ forloop.counter }}" {% if month == mon_sel %}selected{% endif %}>{{ month }}</option>
        {% endfor %}
      </select>
      <input type="submit" value="Go"/>
    </form>
    {% if errors %}
    <ul class="errorlist">
      {% for error in errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    {% block pagination %}
    {% endblock %}

    {% block footer %}
    <footer>
        <hr>
        <p>Copyright (c) 2012</p>
    </footer>
    {% endblock %}

</body>
</html>
