{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "blog/base.html" %}

{% load comments %}

{% block title %}{{ action_str }}{% endblock %}

{% block content %}
  <p>{{ action_str }}</p>
  {% if entries %}
    {% for blog in entries %}
      <article class="entry">
        <header class="h-entry">
          <p class="date">{{ blog.created|date:"M d, Y" }}</p>
          <h1 class="title"><a href="{% url blog.single blog.pk %}">{{ blog.title }}</a></h1>
          <p class="author">Created by: {{ blog.creator }}</p>
        </header>
        <p class="blog-body">{{ blog.body|safe }}<p>
        {% get_comment_count for blog as c_count %}
        <p><a href="{% url blog.single blog.pk %}">{{ c_count }} Comment(s)</a></p>
      </article>
    {% endfor %}
  {% else %}
    <p>No blogs to display</p>
  {% endif %}
{% endblock %}

{% block pagination %}
  {% if entries %}
    <div class="pagination">
      <span class="step-links">
        {% if entries.has_previous %}
          <a href="?page={{ entries.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ entries.number }} of {{ entries.paginator.num_pages }}
        </span>

        {% if entries.has_next %}
          <a href="?page={{ entries.next_page_number }}">next</a>
        {% endif %}
      </span>
    </div>
  {% endif %}
{% endblock %}
