{# vim: set ts=2 et sts=2 sw=2: #}
{% extends "blog/base.html" %}

{% load comments %}
{% load blog_extras %}

{% block title %}Single Blog Displayed{% endblock %}

{% block content %}
    {% if entry %}
      {% get_comment_count for entry as comment_count %}
      total coms: {{comment_count}}
      <article class="entry">
          <header class="h-entry">
              <h1>{{ entry.title }}</h1>
              <h3>By: {{ entry.creator }}</h3>
              <h3>Published: {{ entry.created|date:"M-d-Y" }}</h3>
          </header>
          <p>{{ entry.body }}<p>
      </article>
      {% get_comment_form for entry as form %}
      <div id="stylized" class="myform">
        <h1>Add Comment</h1>
        <form id="form" action="{% comment_form_target %}" method="post">
          {% csrf_token %}
          {% for field in form %}
            {% ifequal field.name "name" %}
              <label for="id_name" type="text" maxlength="50" name="name">Name<span class="small">Add Name</label>
              <input id="id_name" name="name"/>
            {% else %}{% ifequal field.name "comment" %}
              <label for="id_comment">Comment<span class="small">Add Comment</label>
              <textarea id="id_comment" name="comment" cols="40" rows="10"/></textarea>
            {% else %}{% ifequal field.name "honeypot" %}
              <label for="id_honeypot">Spambots<span class="small">Spammers type here</span></label>
              <input id="id_honeypot" type="text" name="honeypot">
            {% endifequal %}{% endifequal %}{% endifequal %}
          {% endfor %}
          <input type="submit" name="submit" value="Post">
          <input type="hidden" name="next" value="{% url blog.single entry.pk %}" />
          <div class="spacer"></div>
        </form>
      </div>
      Comments:
      {% get_comment_list for entry as comment_list %}
        {% for comm in comment_list|reverse %}
          <p>Posted by: {{ comm.user_name }} on {{ comm.submit_date }}.</p>
          <p>Comment: {{ comm.comment }}</p>
        {% endfor %}
    {% endif %}
{% endblock %}
