{# vim: set ts=2 et sts=2 sw=2: #}
<!DOCTYPE HTML">
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/bixly_media/css/blog/reset.css" />
  <link rel="stylesheet" href="/bixly_media/css/blog/login.css" />
  <title>Login | BlogsRus</title>
</head>

<body>
  <header class="base"><h1>Login to BlogsRus</h1></header>

  <nav>
    <ul>
      <li><a href="{% url blog.list_all %}">Browse Anonymously</a></li>
    </ul>
  </nav>

  <div id="content">
    {% if form.errors %}
      <p class="errors">Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form id="subForm" method="post" action="{% url django.contrib.auth.views.login %}">
      {% csrf_token %}
      <p><label class="label" for="id_username">Username:</label><input type="text" name="id_username" id="username"/></p>
      <p><label class="label" for="id_password">Password:</label><input type="password" name="id_password" id="password"/></p>

      <input type="submit" value="login" id="submit"/>
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>

  <footer>
    <p>Copyright &copy; 2012</p>
  </footer>

</body>
</html>

