body {
  background-color: #eeeeee;
  color: #111111;
  font-family: "Georgia", "Times New Roman", serif;
  font-size: 95%;
}
nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
  margin-bottom: 16px;
}
nav ul li {
  display: inline;
  font-variant: small-caps;
  letter-spacing: 2px;
  border-right: 1px solid #999999;
  margin-right: 10px;
  padding-right: 10px;
}

nav ul li:last-child {
  border: none;
  margin: 0;
  padding: 0;
}
nav ul li:first-child {
  border: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: #111;
  text-decoration: none;
}
nav a:hover, nav .current a {
  text-decoration: underline;
}

.search-box {
  background:url(/bixly_media/images/search-box.gif) no-repeat top left;
  height: 26px;
  padding: 5px 0 0 10px;
  width: 165px;
  float: right;
  clear: both;
  display: block;
}
input.search-field {
  float: left;
  border: 0;
  margin: 0;
  font-family: tahoma;
  font-size: 12px;
  padding: 3px 0px 0px 4px;
  height: 18px;
  background: #ffffff url(/bixly_media/images/search-form.png) no-repeat top left;
  width: 123px;
}
input.search-go {
  float: left;
  border: 0;
  margin: 0;
  padding: 0;
  margin-left: 5px;
  height: 21px;
  width: 21px;
  background: url(/bixly_media/images/search-icon.png) no-repeat top left;
  cursor: pointer;
}
input.search-go:hover {
  background: url(/bixly_media/images/search-icon.png) no-repeat bottom left;
}
ul.errorlist {
    margin: 0;
    padding: 0;
}
.errorlist li {
    background-color: red;
    color: white;
    display: block;
    font-size: 10px;
    margin: 0 0 3px;
    padding: 4px 5px;
}
header.base h1{
  color: #111111;
  font: bold 24px "Century Gothic", "Gills Sans", Arial, sans-serif;
  text-align: center;
  text-shadow: 1px 1px 1px #999999;
  border-bottom: thick solid;
  margin: 15px;
}
article {
  border: 1px solid black;
  padding: 12px;
}
article.entry {
  margin: 19px;
}
article.entry .h-entry .date {
  float: right;
  font-variant: small-caps;
  clear: both;
  display: block;
}
article.entry .h-entry .title {
  text-align: center;
  margin-bottom: 12px;
}
article.entry .h-entry .author {
  text-align: right;
  font-variant: small-caps;
  font-style: italic;
}
article.entry .blog-body {
  text-indent: 30px;
}
a {
  color: #111;
  margin-bottom: 16px;
}
a:hover {
  text-decoration: underline;
}
footer {
  clear: both;
  display: block;
  font-size: 90%;
  font-style: italic;
  font-variant: small-caps;
  padding-top: 10px;
  float: left;
}

/* http://woork.blogspot.com/2008/06/clean-and-pure-css-form-design.html */
.spacer{clear:both; height:1px;}

.myform{
margin:0 auto;
width:400px;
padding:14px;
}

/* ----------- stylized ----------- */
#stylized{
border:solid 2px #b7ddf2;
background:#ebf4fb;
}
#stylized h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
#stylized p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px #b7ddf2;
padding-bottom:10px;
}
#stylized label{
display:block;
font-weight:bold;
text-align:right;
width:140px;
float:left;
}
#stylized .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}
#stylized input{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0 20px 10px;
}
#stylized button{
clear:both;
margin-left:150px;
width:125px;
height:31px;
background:#666666 url(img/button.png) no-repeat;
text-align:center;
line-height:31px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
}
